<template>
  <div class="flex items-center justify-center w-2/3 mb-24">
    <div class="flex flex-wrap gap-24">
      <NuxtLink
        v-for="(article, index) in articles"
        :key="index"
        :to="/blog/ + article.id"
      >
        <ArticleCard
          :date="article.date"
          :title="article.title"
          :author="article.author"
          :image="require(`~/assets/blog/${article.image}`)"
          class="w-60"
        />
      </NuxtLink>
    </div>
  </div>
</template>

<script>
import articlesData from '~/assets/articles.json'

export default {
  data() {
    return {
      articles: articlesData,
    }
  },
}
</script>
