<template>
  <div class="flex flex-col">
    <div class="flex">
      <ArticleDate class="border-b border-r border-black">{{
        article.date
      }}</ArticleDate>
      <div class="relative border-b border-black ml-10 flex-grow">
        <ArticleTitle class="absolute bottom-6 left-0">{{
          article.title
        }}</ArticleTitle>
      </div>
    </div>
    <div class="flex flex-grow">
      <div class="flex-shrink-0 h-96 w-48 border-r border-black mt-10"></div>
      <div class="flex-grow p-10 leading-10" style="white-space: pre-line">
        {{ article.content }}
      </div>
    </div>
  </div>
</template>

<script>
import articlesData from '~/assets/articles.json'

export default {
  data() {
    return {
      articles: articlesData,
      article: articlesData.find(
        (article) => article.id === this.$route.params.id
      ),
    }
  },

  methods: {
    articlesWrittenByTheAuthor() {
      return articlesData.filter(
        (article) => article.author === this.article.author
      )
    },
  },
}
</script>
