<template>
  <carousel
    :per-page="3"
    :autoplay="true"
    :loop="true"
    :autoplay-timeout="5000"
    :scroll-per-page="false"
  >
    <slide class="flex items-center justify-center">
      <SampleImage class="h-64" />
    </slide>
    <slide class="flex items-center justify-center">
      <SampleImage class="h-64" />
    </slide>
    <slide class="flex items-center justify-center">
      <SampleImage class="h-64" />
    </slide>
    <slide class="flex items-center justify-center">
      <SampleImage class="h-64" />
    </slide>
    <slide class="flex items-center justify-center">
      <SampleImage class="h-64" />
    </slide>
  </carousel>
</template>

<script>
import Carousel from 'vue-carousel/src/Carousel.vue'
import Slide from 'vue-carousel/src/Slide.vue'

export default {
  components: {
    Carousel,
    Slide,
  },
}
</script>
