<template>
  <div class="flex items-center h-16 w-full bg-gray-50 bg-opacity-50 z-10">
    <div class="w-1/12"></div>
    <NuxtLink to="/">
      <HeaderTitle class="tracking-wider">Trèfle Blanc</HeaderTitle>
    </NuxtLink>

    <div class="flex items-center gap-14 ml-auto">
      <HeaderMenu>NEWS</HeaderMenu>
      <HeaderMenu>MEMBER</HeaderMenu>
      <NuxtLink to="/blog">
        <HeaderMenu>BLOG</HeaderMenu>
      </NuxtLink>
      <HeaderMenu>LIVE</HeaderMenu>
    </div>

    <div class="w-1/12"></div>
  </div>
</template>
