<template>
  <div>
    <ArticleCardImage :src="image" class="w-full" />
    <div class="flex mt-8">
      <ArticleCardDate>{{ date }}</ArticleCardDate>
      <ArticleCardAuthor class="ml-auto">{{ author }}</ArticleCardAuthor>
    </div>
    <ArticleCardTitle class="mt-2">{{ title }}</ArticleCardTitle>
  </div>
</template>

<script>
export default {
  props: {
    date: {
      type: String,
      default: '-',
    },
    title: {
      type: String,
      default: '-',
    },
    author: {
      type: String,
      default: '-',
    },
    image: {
      type: String,
      default: '-',
    },
  },
}
</script>
