<template>
  <div class="flex text-gray-500 hover:text-black transition duration-75">
    <NewsDate>{{ date }}</NewsDate>
    <NewsHeading class="ml-12">{{ heading }}</NewsHeading>
  </div>
</template>

<script>
export default {
  props: {
    date: {
      type: String,
      default: '-',
    },
    heading: {
      type: String,
      default: '-',
    },
  },
}
</script>
