<template>
  <div
    class="flex items-center justify-center font-thin text-2xl ml-auto w-40 py-3 border-b-2 border-gray-300 hover:bg-gray-300 transition duration-300 tracking-widest"
  >
    MORE
  </div>
</template>
