<template>
  <div
    class="flex items-center justify-center font-thin text-xl ml-auto w-40 py-1 border-b-2 border-white hover:bg-white transition duration-300 tracking-widest"
  >
    PROFILE →
  </div>
</template>
