<template>
  <div>
    <Header class="fixed" />
    <div class="flex flex-col items-center w-full py-36">
      <div class="font-thin text-4xl mb-44 tracking-widest">BLOG</div>
      <Nuxt />
    </div>
  </div>
</template>
