<template>
  <div class="flex w-2/3">
    <Article class="w-3/4 pr-10" />
    <div class="w-1/4">
      <ArticleAuthorDescription />
    </div>
  </div>
</template>

<script>
export default {
  layout: 'blog',
}
</script>
