<template>
  <div class="flex flex-col items-center w-full">
    <div class="font-thin text-4xl mb-24 tracking-widest">BLOG</div>
    <div class="flex items-center justify-center w-2/3 mb-24">
      <div class="flex gap-24">
        <NuxtLink
          v-for="(article, index) in articles"
          :key="index"
          :to="/blog/ + article.id"
        >
          <ArticleCard
            :date="article.date"
            :title="article.title"
            :author="article.author"
            :image="require(`~/assets/blog/${article.image}`)"
            class="w-60"
          />
        </NuxtLink>
      </div>
    </div>
    <div class="w-1/2">
      <NuxtLink to="/blog">
        <MoreButton />
      </NuxtLink>
    </div>
  </div>
</template>

<script>
import articlesData from '~/assets/articles.json'

export default {
  data() {
    return {
      articles: articlesData.slice(0, 4),
    }
  },
}
</script>
