<template>
  <div class="flex justify-center w-full bg-gray-50 py-20">
    <div class="flex flex-col items-center w-1/2">
      <div>
        <div class="font-thin text-4xl mb-14 tracking-widest">NEWS</div>
        <div class="flex flex-col justify-around h-80 mb-10">
          <News
            v-for="(news, index) in newsList"
            :key="index"
            :date="news.date"
            :heading="news.heading"
          />
        </div>
      </div>
      <MoreButton />
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      newsList: [
        {
          date: 'YYYY. MM. DD',
          heading: 'ニュースの見出し1',
        },
        {
          date: 'YYYY. MM. DD',
          heading: 'ニュースの見出し2',
        },
        {
          date: 'YYYY. MM. DD',
          heading: 'ニュースの見出し3',
        },
        {
          date: 'YYYY. MM. DD',
          heading: 'ニュースの見出し4',
        },
        {
          date: 'YYYY. MM. DD',
          heading: 'ニュースの見出し5',
        },
      ],
    }
  },
}
</script>
