<template>
  <div class="flex flex-col items-center">
    <MainImage class="mt-60 mb-20 w-8/12" />
    <Banners class="mt-36" />
    <RecentNewsList class="mt-36" />
    <RecentArticleCards class="mt-36 mb-36" />
  </div>
</template>
