<template>
  <div class="flex flex-col items-center">
    <img
      :src="require(`~/assets/profiles/${profile().upperBodyImage}`)"
      class="border-2 rounded-full"
      :class="'border-' + profile().themeColor"
    />
    <div class="w-full py-12 px-16">
      <div class="font-thin text-xl mb-8">{{ article.author }}</div>
      <ToProfileButton
        :class="[
          'border-' + profile().themeColor,
          'hover:bg-' + profile().themeColor,
        ]"
      />
    </div>
  </div>
</template>

<script>
import articlesData from '~/assets/articles.json'
import profilesData from '~/assets/profiles.json'

export default {
  data() {
    return {
      profiles: profilesData,
      article: articlesData.find(
        (article) => article.id === this.$route.params.id
      ),
    }
  },

  methods: {
    profile() {
      return this.profiles[this.article.author]
    },
  },
}
</script>
